.App {
  text-align: center;
}
.post-list{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:1000px;
  flex-direction:column;
  padding:1rem;
  background-color:#ccc
}
.container-main
{
  display:flex;
  flex-direction: row;
  justify-content:center;
  margin: 20px;
}
.header-text
{
 text-align: center;
 font-weight: bold;
}

.home-page
{
  display:flex;
  flex-direction: column;
  margin: 10px;
  
}
.employee-page
{
  display:flex;
  flex-direction: column;
  margin: 10px;
}
.employee-card
{display:flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 2px solid red;
  margin: 2px;
  width: 300px;
}
.employee-card-img
{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 2px;
}

.employee-card-title
{display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}
.search-bar-input{
  margin: 5px;
  width: 90%;
  height: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
